<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Spektr_Analis_sravn_medods.Properties.Settings.SignalConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Signal.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Spektr_Analis_sravn_medods.Properties.Settings.Signals_CS"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Signals.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Spektr_Analis_sravn_medods.Properties.Settings.signal_CS_Access"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\signal.accdb"
            providerName="System.Data.OleDb" />
        <add name="Spektr_Analis_sravn_medods.Properties.Settings.basa_CS"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\basa.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>